//  ------------------------------------------------------------------------------
//  ----------------------------- Variables Files ------------------------------
//  ------------------------------------------------------------------------------

// COLORS
$bgPage: #f2f2f2;
$textColor: #1b1b1b;
$mainBlue: #3e29e3;
$mainGrey: #7d7d7d;
$mainRed: #e80f3b;
$gradient: linear-gradient(225deg, #dd80ed 0%, #3d28e3 100%);
$loaderColor: #3e29e3;

// ANIMATIONS
$timeTrans: 0.3s;

// BREAKPOINTS
$breakpoint-xxl: 1439.98px;
$breakpoint-xl: 1199.98px;
$breakpoint-lg: 991.98px;
$breakpoint-md: 735.98px; // 767.98
$breakpoint-sm: 575.98px;
$breakpoint-xsm: 359.98px;
$breakpoint-alternative-xsm: 299.98px;

// GAP
$gapWidth: 16px;
