/* Компонент: Аккордеон ( SCSS ) */
@import "../../SASS/Components/variables.scss";
@import "../../SASS/Components/animations.scss";

.wrapper-accordion {
  $self: &;

  &__acc-item {
    border-bottom: 1px solid #cbcbcc;
    padding-bottom: 15px;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all $timeTrans linear;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint-md) {
      margin-bottom: 32px;
      padding-bottom: 23px;

      &:before {
        width: 16px !important;
        height: 12px !important;
        background-size: 12px !important;
      }
    }

    &:hover {
      border-bottom: 1px solid $mainBlue;

      #{ $self }__name {
        color: $textColor;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: "";
      display: block;
      width: 9px;
      height: 6px;
      order: 2;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 3L7.5 0L9 1.5L4.5 6L0 1.5L1.5 0L4.5 3Z' fill='%233E29E3'/%3E%3C/svg%3E ");
      background-size: 9px;
      background-repeat: no-repeat;
      background-position: center;
      transition: all .3s ease-in-out;
    }

    &--active {
      border-bottom: none !important;
      padding-bottom: 0;

      &:hover {
        border-bottom: none;
      }

      &:before {
        transform: rotate(180deg);
      }

      #{ $self }__name {
        color: $mainBlue;
      }
    }
  }

  &__name {
    color: $mainGrey;
    font-weight: 500;
    transition: all $timeTrans linear;
    order: 1;
  }

  &__acc-content {
    border-bottom: 2px solid $mainBlue;
    padding-bottom: 30px;
    transition: all $timeTrans linear;
    margin-bottom: 24px;
    display: none;
    animation-duration: 1s;
    animation-name: show;

    @media (max-width: $breakpoint-md) {
      padding: 0 16px 30px 16px;
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      display: block;
      animation-duration: 1s;
      animation-name: show;
    }
  }
}
