//  ------------------------------------------------------------------------------
//  ----------------------------- Components Files ------------------------------
//  ------------------------------------------------------------------------------

// Components Fixed
.sticky {
	position: sticky!important;
	top: 32px!important;
	z-index: 15;	
}
